.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #eee;
}

.ratings {
  display: flex;
  align-items: center;
}

.ratings--star {
  padding-right: 10px;
}

.ratings--rate {
  padding-right: 10px;
}

.ratings--review {
  color: #969391;
}

.actions {
  display: flex;
  font-weight: bold;
  color: #322c2b;
}

.actions--country {
  display: flex;
  align-items: center;
  padding-right: 80px;
}

.actions--country p {
  margin-left: 5px;
}

.actions--register {
  padding-right: 40px;
}

.actions--login {
  color: #db391b;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #eee;
}

.search span {
  font-size: small;
  color: #969391;
}

.search-background {
  background-color: #f3f3f2;
  border-radius: 10px;
  padding: 5px 20px;
}

.search--country {
  width: 350px;
}

.search--pickup-date {
  width: 200px;
}

.search--dropoff-date {
  width: 200px;
}

.search--pickup-time {
  width: 200px;
}

.search--dropoff-time {
  width: 200px;
}

.search--button button {
  all: unset;
  width: 150px;
  height: 57px;
  background-color: #ff4615;
  color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.search input {
  all: unset;
  display: block;
  height: 30px;
  width: 100%;
  font-weight: bold;
}

.search input[type="date"]::-webkit-calendar-picker-indicator,
.search input[type="date"]::-webkit-inner-spin-button{
  display: none;
}

.search input[type="time"]{
  appearance: none;
}

/* Container */
.container {
  display: flex;
}
/*Aside*/
aside {
  min-width:330px;
  padding: 50px 30px;
  max-height: 75vh;
  /*position: fixed;*/
  /*left: 0;*/
}

.container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.container input[type="checkbox"]:checked {
  background-color: #ff4615;
}

.container label {
  padding-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.aside-first, .aside-second, .container {
  border-bottom: 1px solid #eee;
}

.mini-headings {
  font-size: small;
  color: #969391;
  font-weight: bold;
}


label {
  display: block;
}

main {
  flex: 1;
  background-color: #fdfcfd;
  padding: 40px;
  min-height: 75vh;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #747c84;
  margin-bottom: 30px;
}

.sort {
  display: flex;
  align-items: center;
}

.sort p {
  margin-right: 10px;
  font-weight: 600;
}

.sort select {
  /*all: unset;*/
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  background: #f4f4f4;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/*Car card*/
.card {
  background-color: #fff;
  /*width:400px;*/
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1))
}

.car-card button {
  all: unset;
  padding: 15px 40px;
  background-color: #ff4615;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.card--image {
  background-color: #f4f3f4;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--image img {
  width: 300px;
  height: 200px;
}

.card--body {
  background-color: white;
  padding: 10px 20px;
}

.title-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.body-title h4 {
  font-size: 20px;
}

.body-title p {
  margin-top: -20px;
  color: #747c84;
}

.body-tag {
  color: #4bb567;
  background-color: #e9f6ee;
  border-radius: 20px;
  height: 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
}

.features {
  border-bottom: 1px solid #eee;
  margin-top: -20px;
}

.features h6 {
  color: #747c84;
  font-size: small;
}

.features-wrapper {
  display: flex;
  margin-top: -20px;
}

.features-items {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.features-items p {
  margin-left: 6px;
}

.features-users {
  margin-right: 20px;
}

.features-miles {
  margin-top: -20px;
}

.card--footer {
  padding: 0 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-price h3 {
  font-size: 22px;
}

.footer-price p {
  margin-top: -20px;
}

.footer-button button {
  all: unset;
  background-color: #ff4615;
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}



/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
